.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
    }
    
    .text-content {
      width: 50%;
      padding-right: 1%;

      @media @mobile {
        flex-direction: column;
        width: 100%;
        padding: 0;
      }

    }

    .img-content {
      width: 50%;

      @media @mobile {
        width: 100%;
      }

      img {
        border-radius: 10px;
        width: 100%;
        padding-left: 1%;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {

      flex-direction: column-reverse;

      .last-body-p {
        margin-top: 6%;
      }

    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
        margin: 0 auto 5%;
      }

      .btn {
        background-color: rgb(13, 88, 173);
        color: white;
        padding: 10px 0;
        border-radius: 10px;
        text-align: center;
        font-size: 1.5rem;
      }
    }

  }
}// home

// form 

form {
  margin: 0 auto 4%;
  width: 60%;
  padding: 2%;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form section {
  text-align: center;
  
}

.package-info {
  display: flex;
  justify-content: center;

  @media @mobile {
    flex-direction: column;
  }

  li {
    @media @mobile {
      padding: 2%;
    }
  }

}

.message {
  vertical-align: top;
}


.info.btn {
  background-color: rgb(32, 173, 13);
  color: white;
  padding: 10px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;

  @media @mobile {
    width: 90%;
  }

}

.textarea-size {
  width: 25em;
  height: 7em;

  @media @mobile {
      width: 90%;
      height: 7em;
  }

}